{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Ajouter une transaction</h1>
<div class="content jumbotron">
    {{ form(form) }}

	<ul class="record_actions">
	    <li>
	        <a href="{{ path('transaction') }}">
	            Back to the list
	        </a>
	    </li>
	</ul>
</div>
{% endblock %}
